<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org">

<head>
    <title layout:title-pattern="$CONTENT_TITLE">[[#{app.title}]]</title>
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
    <link href="../img/web_icon.ico" rel="icon" type="image/x-icon">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}"/>
    <script defer th:src="@{/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js}"></script>
    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">

    <!-- Bootstrap -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" type="text/css"/>

    <!-- Slick -->
    <link rel="stylesheet" th:href="@{/css/slick.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/css/slick-theme.css}" type="text/css"/>

    <!-- nouislider -->
    <link rel="stylesheet" th:href="@{/css/nouislider.min.css}" type="text/css"/>

    <!-- Font Awesome Icon -->
    <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}">

    <!-- Custom stlylesheet -->
    <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css"/>

</head>

<body>
<!-- HEADER -->
<header>
    <!-- TOP HEADER -->
    <div id="top-header">
        <div class="container">
            <ul class="header-links pull-left">
                <li><a href="#"><i class="fa fa-phone"></i> 0941-143-xxx</a></li>
                <li><a href="#"><i class="fa fa-envelope-o"></i> thuanndq@gmail.com</a></li>
                <li><a href="#"><i class="fa fa-map-marker"></i> Thu Duc City</a></li>
            </ul>
            <ul class="header-links pull-right">
                <li><a href="#"><i class="fa fa-user-o"></i> My Account</a></li>
            </ul>
        </div>
    </div>
    <!-- /TOP HEADER -->

    <!-- MAIN HEADER -->
    <div id="header">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <!-- LOGO -->
                <div class="col-md-3">
                    <div class="header-logo">
                        <a class="logo" href="../">
                            <img alt="" class="fit" src="https://edckoko.blob.core.windows.net/images/edc-koko-logo.png">
                        </a>
                    </div>
                </div>
                <!-- /LOGO -->

                <!-- SEARCH BAR -->
                <div class="col-md-6">
                    <div class="header-search">
                        <form class="d-flex">
                            <select class="p-2 flex-grow-1 input-select rounded-start-5">
                                <option value="0">All Categories</option>
                                <option value="Keychain">Keychain</option>
                                <option value="Multitool">Multitool</option>
                                <option value="Spoon And Fork">Spoon And Fork</option>
                                <option value="Pen And Knuckle">Pen And Knuckle</option>
                                <option value="Flashlight and Prybar">Flashlight and Prybar</option>
                                <option value="Camping Tools">Camping Tools</option>

                            </select>

                            <input class="input rounded-0 p-2" placeholder="Search here">
                            <button class="btn-danger rounded-end-5 bg-danger text-light fw-bold p-2 border-2 border-white">Search</button>
                        </form>
                    </div>
                </div>
                <!-- /SEARCH BAR -->

                <!-- ACCOUNT -->
                <div class="col-md-3 clearfix">
                    <div class="header-ctn">

                        <!-- Cart -->
                        <div class="dropdown">
                            <a aria-expanded="true" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-shopping-cart" style="cursor: pointer"></i>
                                <span>Your Cart</span>
                                <div class="qty">3</div>
                            </a>
                            <div class="cart-dropdown">
                                <div class="cart-list">
                                    <div class="product-widget">
                                        <div class="product-img">
                                            <img alt="" src="https://edckoko.blob.core.windows.net/images/4_3">
                                        </div>
                                        <div class="product-body">
                                            <h3 class="product-name"><a href="#">product name goes here</a></h3>
                                            <h4 class="product-price"><span class="qty">1x</span>$980.00</h4>
                                        </div>
                                        <button class="delete"><i class="fa fa-close"></i></button>
                                    </div>

                                    <div class="product-widget">
                                        <div class="product-img">
                                            <img alt="" src="https://edckoko.blob.core.windows.net/images/7_3">
                                        </div>
                                        <div class="product-body">
                                            <h3 class="product-name"><a href="#">product name goes here</a></h3>
                                            <h4 class="product-price"><span class="qty">3x</span>$980.00</h4>
                                        </div>
                                        <button class="delete"><i class="fa fa-close"></i></button>
                                    </div>
                                </div>
                                <div class="cart-summary">
                                    <small>3 Item(s) selected</small>
                                    <h5>SUBTOTAL: $2940.00</h5>
                                </div>
                                <div class="cart-btns">
                                    <a href="#">View Cart</a>
                                    <a href="#">Checkout <i class="fa fa-arrow-circle-right"></i></a>
                                </div>
                            </div>
                        </div>
                        <!-- /Cart -->

                    </div>
                </div>
                <!-- /ACCOUNT -->
            </div>
            <!-- row -->
        </div>
        <!-- container -->
    </div>
    <!-- /MAIN HEADER -->
</header>
<!-- /HEADER -->

<!-- NAVIGATION -->
<nav class="navbar navbar-expand-lg bg-body-tertiary" id="navigation">
    <div class="container px-0">
        <button aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation"
                class="navbar-toggler"
                data-bs-target="#navbarNavAltMarkup" data-bs-toggle="collapse" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link pe-5 fw-semibold fs-4" href="../categories">Categories</a>
                <a class="nav-link pe-5 fw-semibold fs-4" href="../categories">Keychain</a>
                <a class="nav-link pe-5 fw-semibold fs-4" href="../categories">Multitool</a>
                <a class="nav-link pe-5 fw-semibold fs-4" href="../categories">Knife</a>
                <a class="nav-link pe-5 fw-semibold fs-4" href="../categories">Camping Tools</a>
            </div>
        </div>
    </div>
</nav>

<!-- FRAGMENT SECTION -->
<div layout:fragment="content"></div>
<!-- /SECTION -->

<!-- FOOTER -->
<footer id="footer">
    <!-- top footer -->
    <div class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <div class="col-md-3 col-xs-6">
                    <div class="footer">
                        <h3 class="footer-title">About Us</h3>
                        <p>A Spring Boot web application that provides a shopping platform for camping tools and
                           everyday carry items.</p>
                        <ul class="footer-links">
                            <li><a href="#"><i class="fa fa-map-marker"></i>Thu Duc City</a></li>
                            <li><a href="#"><i class="fa fa-phone"></i>0941-143-xxx</a></li>
                            <li><a href="#"><i class="fa fa-envelope-o"></i>thuanndq@gmail.com</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-3 col-xs-6">
                    <div class="footer">
                        <h3 class="footer-title">Categories</h3>
                        <ul class="footer-links">
                            <li><a href="#">Hot deals</a></li>
                            <li><a href="#">Laptops</a></li>
                            <li><a href="#">Smartphones</a></li>
                            <li><a href="#">Cameras</a></li>
                            <li><a href="#">Accessories</a></li>
                        </ul>
                    </div>
                </div>

                <div class="clearfix visible-xs"></div>

                <div class="col-md-3 col-xs-6">
                    <div class="footer">
                        <h3 class="footer-title">Information</h3>
                        <ul class="footer-links">
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Contact Us</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Orders and Returns</a></li>
                            <li><a href="#">Terms & Conditions</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-3 col-xs-6">
                    <div class="footer">
                        <h3 class="footer-title">Service</h3>
                        <ul class="footer-links">
                            <li><a href="#">My Account</a></li>
                            <li><a href="#">View Cart</a></li>
                            <li><a href="#">Help</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /top footer -->

    <!-- bottom footer -->
    <div class="section" id="bottom-footer">
        <div class="container">
            <!-- row -->
            <div class="row">
                <div class="col-md-12 text-center">
                    <ul class="footer-payments">
                        <li><i class="fa fa-cc-visa"></i></a></li>
                        <li><i class="fa fa-credit-card"></i></a></li>
                        <li><i class="fa fa-cc-paypal"></i></a></li>
                        <li><i class="fa fa-cc-mastercard"></i></a></li>
                        <li><i class="fa fa-cc-discover"></i></a></li>
                        <li><i class="fa fa-cc-amex"></i></a></li>
                    </ul>
                    <span class="copyright">
							Thank you Colorlib for this awesome template!!!
							<i aria-hidden="true" class="fa fa-heart-o"></i>
						</span>


                </div>
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /bottom footer -->
</footer>
<!-- /FOOTER -->

<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/slick.min.js}"></script>
<script th:src="@{/js/nouislider.min.js}"></script>
<script th:src="@{/js/jquery.zoom.min.js}"></script>
<script th:src="@{/js/main.js}"></script>


<script defer th:src="@{/webjars/htmx.org/1.9.11/dist/htmx.min.js}"></script>
</body>

</html>