<!DOCTYPE HTML>
<html layout:decorate="~{user/layout}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <title>STORE</title>
</head>

<body>
<div layout:fragment="content">

    <!-- SECTION -->
    <div class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <form class="row"
                  hx-get="./filter"
                  hx-push-url="./all"
                  hx-swap="innerHTML"
                  hx-target="#product-row"
                  th:object="${productFilters}">
                <!-- ASIDE -->
                <div class="col-md-3" id="aside">
                    <!-- aside Widget -->
                    <div class="aside">
                        <h3 class="aside-title">Categories</h3>
                        <div class="checkbox-filter">

                            <div class="input-checkbox"
                                 th:each="entry : ${categoryList}">
                                <input name="categories"
                                       th:id="'category-' + ${entry.key}"
                                       th:value="${entry.key.replace(' ', '-').toLowerCase()}"
                                       type="checkbox">
                                <label th:for="'category-' + ${entry.key}">
                                    <span></span>
                                    [[${entry.key}]]
                                    <small>([[${entry.value}]])</small>
                                </label>
                            </div>

                        </div>
                    </div>
                    <!-- /aside Widget -->

                    <!-- aside Widget -->
                    <div class="aside">
                        <h3 class="aside-title">Price</h3>
                        <div class="price-filter">
                            <div id="price-slider"></div>
                            <div class="input-number price-min">
                                <input id="price-min" name="min_price" type="number">
                                <span class="qty-up">+</span>
                                <span class="qty-down">-</span>
                            </div>
                            <span>-</span>
                            <div class="input-number price-max">
                                <input id="price-max" name="max_price" type="number">
                                <span class="qty-up">+</span>
                                <span class="qty-down">-</span>
                            </div>
                        </div>
                    </div>
                    <!-- /aside Widget -->

                    <button class="btn btn-success mt-5 fs-4" type="submit">Filter</button>
                </div>
                <!-- /ASIDE -->


                <!-- STORE -->
                <div class="col-md-9" id="store">
                    <!-- store top filter -->
                    <div class="store-filter clearfix">
                        <div class="store-sort">
                            <label>
                                Order By:
                                <select class="input-select" name="orderBy">
                                    <option disabled selected value="">Please select</option>
                                    <option value="name-asc">Name: Ascending</option>
                                    <option value="name-desc">Name: Descending</option>

                                    <option value="price-asc">Price: Ascending</option>
                                    <option value="price-desc">Price: Descending</option>
                                </select>
                            </label>
                        </div>
                    </div>
                    <!-- /store top filter -->

                    <!-- store products -->
                    <div id="product-row">
                        <!-- product -->
                        <div class="row" th:fragment="productRowFragment">
                            <div class="col-md-4 col-xs-6" th:each="product : ${productList}">

                                <div class="product">
                                    <a th:href="@{~/products/{id}(id = ${product.id})}">
                                        <div class="product-img">
                                            <img alt="" th:src="@{${product.imageUrl.get(0)}}">
                                            <div class="product-label" th:if="${product.trend != null}">
                                                <span class="new">[[${product.trend}]]</span>
                                            </div>
                                        </div>
                                    </a>
                                    <div class="product-body">
                                        <p class="product-category">[[${product.category}]]</p>
                                        <h3 class="product-name"><a href="#">[[${product.name}]]</a></h3>
                                        <h4 class="product-price">$[[${product.price}]] </h4>
                                    </div>
                                    <div class="add-to-cart">
                                        <button class="add-to-cart-btn">
                                            <i class="fa fa-shopping-cart"></i>
                                            add to cart
                                        </button>
                                    </div>
                                </div>


                            </div>

                            <span class="store-qty mt-3 mx-2">Showing [[${showingProductCount}]] products</span>
                        </div>
                        <!-- /product -->


                    </div>

                    <!-- /store products -->

                </div>
                <!-- /STORE -->

            </form>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /SECTION -->

</div>

</body>

</html>