<!DOCTYPE HTML>
<html layout:decorate="~{user/layout}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <title>PRODUCT</title>
    <link href="/favicon.ico" rel="icon" type="image/x-icon">
</head>

<body>
<!-- SECTION -->
<div layout:fragment="content">

    <div class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row" th:object="${thisProduct}">
                <!-- Product main img -->
                <div class="col-md-5 col-md-push-2">
                    <div id="product-main-img">
                        <div class="product-preview" th:each="url : ${thisProduct.imageUrl}">
                            <img alt="Product Image Here" th:src="@{${url}}">
                        </div>
                    </div>
                </div>
                <!-- /Product main img -->

                <!-- Product thumb imgs -->
                <div class="col-md-2  col-md-pull-5">
                    <div id="product-imgs">
                        <div class="product-preview" th:each="url : ${thisProduct.imageUrl}">
                            <img alt="Product Image Here" th:src="@{${url}}">
                        </div>
                    </div>
                </div>
                <!-- /Product thumb imgs -->

                <!-- Product details -->
                <div class="col-md-5">
                    <div class="product-details">
                        <h2 class="product-name">[[${thisProduct.name}]]</h2>
                        <div>
                            <span class="review-link">10 Review(s)</span>
                        </div>
                        <div>
                            <h3 class="product-price">$[[${thisProduct.price}]]</h3>
                            <span class="product-available"
                                  th:classappend="${thisProduct.available} ? 'text-success' : 'text-danger'"
                                  th:text="${thisProduct.available} ? 'IN STOCK' : 'OUT OF STOCK'"
                            >
                            </span>
                        </div>
                        <p>[[${thisProduct.description}]]</p>

                        <div class="add-to-cart">
                            <div class="qty-label">
                                Qty
                                <div class="input-number">
                                    <input max="21" type="number" value="1">
                                    <span class="qty-up">+</span>
                                    <span class="qty-down">-</span>
                                </div>
                            </div>
                            <button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
                        </div>

                        <ul class="product-links">
                            <li>Category:</li>
                            <li><a href="#">[[${thisProduct.category}]]</a></li>
                        </ul>

                        <ul class="product-links">
                            <li>Share:</li>
                            <li><a href="#"><i class="fa fa-envelope"></i></a></li>
                        </ul>

                    </div>
                </div>
                <!-- /Product details -->

                <!-- Product tab -->
                <div class="col-md-12">
                    <div id="product-tab">
                        <!-- product tab nav -->
                        <ul class="tab-nav">
                            <li class="active"><a data-toggle="tab" href="#reviewTab">Reviews (3)</a></li>
                        </ul>
                        <!-- /product tab nav -->

                        <!-- product tab content -->
                        <div class="tab-content">
                            <div class="tab-pane fade in active" id="reviewTab">
                                <div class="row">
                                    <!-- Reviews -->
                                    <div class="col-md-8">
                                        <div id="reviews">
                                            <ul class="reviews">
                                                <li>
                                                    <div class="review-heading">
                                                        <h5 class="name">John</h5>
                                                        <p class="date">27 DEC 2018, 8:0 PM</p>
                                                    </div>
                                                    <div class="review-body">
                                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                                           sed
                                                           do eiusmod tempor incididunt ut labore et dolore magna
                                                           aliqua</p>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="review-heading">
                                                        <h5 class="name">John</h5>
                                                        <p class="date">27 DEC 2018, 8:0 PM</p>
                                                    </div>
                                                    <div class="review-body">
                                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                                           sed
                                                           do eiusmod tempor incididunt ut labore et dolore magna
                                                           aliqua</p>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="review-heading">
                                                        <h5 class="name">John</h5>
                                                        <p class="date">27 DEC 2018, 8:0 PM</p>
                                                    </div>
                                                    <div class="review-body">
                                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                                           sed
                                                           do eiusmod tempor incididunt ut labore et dolore magna
                                                           aliqua</p>
                                                    </div>
                                                </li>
                                            </ul>
                                            <ul class="reviews-pagination">
                                                <li class="active">1</li>
                                                <li><a href="#">2</a></li>
                                                <li><a href="#">3</a></li>
                                                <li><a href="#">4</a></li>
                                                <li><a href="#"><i class="fa fa-angle-right"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!-- /Reviews -->

                                    <!-- Review Form -->
                                    <div class="col-md-4">
                                        <div id="review-form">
                                            <form class="review-form">
                                                <input class="input" placeholder="Your Name" type="text">
                                                <input class="input" placeholder="Your Email" type="email">
                                                <textarea class="input" placeholder="Your Review"></textarea>
                                                <button class="primary-btn">Submit</button>
                                            </form>
                                        </div>
                                    </div>
                                    <!-- /Review Form -->
                                </div>
                            </div>
                        </div>
                        <!-- /product tab content  -->
                    </div>
                </div>
                <!-- /product tab -->
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /SECTION -->

    <!-- Section -->
    <div class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">

                <div class="col-md-12">
                    <div class="section-title text-center">
                        <h3 class="title">Related Products</h3>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="row">
                        <div class="products-tabs">
                            <!-- tab -->
                            <div class="tab-pane active" id="tab1">
                                <div class="products-slick" data-nav="#slick-nav-1" th:object="${productList}">

                                    <!-- product -->
                                    <div class="product" th:each="product : ${productList}">
                                        <a th:href="@{~/products/{id}(id = ${product.id})}">
                                            <div class="product-img">
                                                <img alt="" th:src="@{${product.imageUrl.get(0)}}">
                                                <div class="product-label" th:if="${product.trend != null}">
                                                    <span class="new">[[${product.trend}]]</span>
                                                </div>
                                            </div>
                                        </a>
                                        <div class="product-body">
                                            <p class="product-category">[[${product.category}]]</p>
                                            <h3 class="product-name">
                                                <a th:href="@{~/products/{id}(id = ${product.id})}">[[${product.name}]]</a>
                                            </h3>
                                            <h4 class="product-price">$[[${product.price}]] </h4>
                                        </div>
                                        <div class="add-to-cart">
                                            <button class="add-to-cart-btn">
                                                <i class="fa fa-shopping-cart"></i>
                                                add to cart
                                            </button>
                                        </div>
                                    </div>
                                    <!-- /product -->
                                </div>
                                <div class="products-slick-nav" id="slick-nav-1"></div>
                            </div>
                            <!-- /tab -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /Section -->

</div>

</body>

</html>